.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#ffd6ec;
padding:15px 40px;
font-family:Cambria;
font-weight:bold;
}

.logo{
font-size:20px;
color:#c2185b;
}

.nav-links a{
margin:0 15px;
text-decoration:none;
color:#c2185b;
font-weight:bold;
}

.nav-links a:hover{
text-decoration:underline;
}
/* Remove default list styles */
nav ul {
  list-style: none;
  display: flex;       /* horizontal */
  gap: 20px;
  background-color: #de0e4c;
  padding: 10px 20px;
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}